.icon {
    width: 150px;
    height: 150px;
}

.weather-container {
    display: flex;
    flex-direction: column;
}

.weather-status {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.weather-temp {
    color: black;
    font-size: 22px;
    font-weight: bolder;
}
.temp-icon {
    /* margin-top: 20px; */
    padding-top: 5px;
    width: 24px;
    height: 24px;
}
.temp-number {
    margin-bottom: 10px;
}
